<link rel="stylesheet" href="/customerDetails.css">
<h1>{{ t "customer details"}}</h1>
<div id="customerDetails">
    <div class="form-group">
        <label>{{ t "firstname"}}</label>
        <input type="text" class="form-control" value="{{ firstname }}" name="firstname">
    </div>
    <div class="form-group">
        <label>{{ t "lastname"}}</label>
        <input type="text" class="form-control" value="{{lastname}}" name="lastname">
    </div>
    <div class="form-group">
        <label>{{ t "address"}}</label>
        <input type="text" class="form-control" value="{{address}}" name="address">
    </div>
    <div class="form-group">
        <label>{{ t "postal code"}}</label>
        <input type="text" class="form-control" value="{{postalcode}}" name="postalcode">
    </div>
    <div class="form-group">
        <label>{{ t "city"}}</label>
        <input type="text" class="form-control" value="{{city}}" name="city">
    </div>
    <div class="form-group">
        <label>{{ t "country"}}</label>
        <input type="text" class="form-control" value="{{country}}" name="country">
    </div>
</div>