<link rel="stylesheet" href="/orderphase3.css">
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        {{>progressBar}}
    </div>
</div>
<div class="container orderBox">
    <div class="col-sm-12">
        <h1><span class="fa fa-sign-in"></span>Order confirmation</h1>
        <div class="table-responsive col-sm-12">
            <div class="row">
                <h2>Items:</h2>
                
                <table class="table table-striped ngCart cart" >
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    {{#each items}}
                    <tr>
                        <td>{{ this._name }}</td>
                        <td>{{ this._price }}</td>
                        <td>{{ this._quantity }}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div id="shipping" class="row">
                <h2> Will be shipped to: </h2>
                <span>{{ user.firstname }}&nbsp;{{ user.lastname }}</span>
                <span>{{ user.address }}</span>
                <span>{{ user.postalcode }}</span>
                <span>{{ user.city }}</span>
                <span>{{ user.country }}</span>
            </div>
        </div>
        <form action="/secure/paypaypal" method="post">
            <div class="table-responsive col-sm-12">
                <button type="submit" class="btn btn-warning btn-lg pull-right">Pay</button>
                <a class="btn btn-warning btn-lg" href="/secure/orderphase2">Back</a>
            </div>
        </form>
        <hr>
    </div>
</div>